.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
build/
*.o
*.so
*.png
*.hge
*.o.d
*.jar
*.class
*.apk
*.dex
*.ap_
*.store
Thumbs.db
.classpath
.project
*.iws
*.ipr
*~
*.swp
/*/out
/*/*/build
/*/*/production
bin/
gen/
proguard/
.metadata/
.settings/